.app-content {
  width: 100%;
  padding: 0 5px;
}

.app-content header {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
  }
}

.graph-container {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  overflow-x: auto;
}

.graph {
  width: 1500px;
  height: 500px;
}

.graph text {
  fill: #ccc;
}

.graph .labels.x-labels {
  text-anchor: start;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

#player-info {
  width: 60%;
  border: 1px dashed #ccc;
  margin: 10px auto 0 auto;
  padding: 10px;
  display: none;
}
